#whatsapp
    margin 0
    padding 0
    position: fixed
    right 0
    top 150px
    z-index: 5000

    .iconos
        margin: 0
        padding 0.5em 0.7em
        list-style: none
        background: white
        border 1px solid rgba(0,0,0,0.1)
        border-top-left-radius: 0.4em
        border-bottom-left-radius: 0.4em

        li 
            margin 0
            padding 0
            
            a 

                figure
                    margin 0
                    padding 0
                    width 100px

                    img  
                        margin 0
                        padding 0
                        width: 100%

.alianza
    margin 0
    padding 0
    text-align: center
    width 100%

    figure
        margin: 0 auto
        padding 0
        width 300px

        img     
            margin: 0
            padding 0
            width 100%