#whatsapp
    margin 0
    padding 0
    position: fixed
    right 12px
    bottom 150px
    z-index: 5000
    text-align: right    

    figure
        margin 0
        padding 0
        width 65px
        cursor pointer
        transition all 0.3s linear
        position absolute
        right 0

        img 
            margin 0
            padding 0
            width 100%

    .iconos
        margin: 0 0 1em 0
        padding 0
        list-style: none
        display: none

        li 
            margin 1.25em 0
            padding 0
            
            a 
                background green  
                color white
                text-decoration: none
                margin 0
                padding 0.5em 0.7em
                font-weight: bold
                border-radius: 0.4em
                transition all 0.3s linear              
            
            a:hover
                -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.3);
                -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.3);
                box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.3);

.alianza
    margin 0
    padding 0
    text-align: center
    width 100%

    figure
        margin: 0 auto
        padding 0
        width 300px

        img     
            margin: 0
            padding 0
            width 100%